.content {
  animation: pulse 1s ;
}

@keyframes pulse {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.slideshowCtrl { position: fixed; top: 15px; right: 25px;  font-size: larger; 
	box-shadow: 0 0 1px 1px #888; border-radius: 3px; 
	padding: 5px; 
	background-color: #444; opacity: 0.3;
	}
	
.slideshowCtrl:hover { opacity: 1; font-size: large; }

.ciBtn { cursor: pointer;}
	
	
	
