/*
 * Carousel Navigation and Navigation Menu
 */
.submenu { text-align: center; }
.submenu a { cursor: pointer; padding-right: 5%; }
.top { cursor: pointer; }
/* .box { padding-bottom: 30px !important }*/

/*
 * Main Carousel
 */
.carousel-indicators.simRight { left: 90%; width: 100px; margin-left: 0px }
.carousel-inner .item img {}

/*
 * Service
 */
.serviceList { margin-left: 8%; font-size: 1.25em; }
.serviceList>div { width: 100%; }
.serviceList .icon { width: 50px;  }
.serviceList .serviceText { padding-top: 15px; width: 90%;  }
.serviceList div div img { float: left; width: 20px; opacity: 0.5; margin: 18px; }

/*
 * Impressum
 */
.impressum { display: none; padding: 10px 0; }
.impressumLink { cursor: pointer; }
.impressumLink:hover { background-color: #eee; box-shadow: 0 0 0 10px #eee; border-radius: 5px; }

/*
 * DEBUG
 */

.dhControlPanel {
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    left: -100px;
    top: 10%;
    width: 120px;
    height: 40px;
    padding: 10px;
    background-color: #222266;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 1px 1px #aaa;
}
.dhControlPanel .dhControlPanelIcon {
    right: 0;
    position: absolute;
    color: white;
    font-size: 28px;
    margin-right: 8px;
    padding: 0;
    line-height: 18px;
}
.bgBtn { background-color: #aaa; cursor: pointer; }
.bgBtn img { width: 80px;}
/*
@keyframes animateWidth {
    0% { width: 35px; }
    100% { width: 250px; }
}
@keyframes animateHeight {
    0% { height: 35px; }
    100% { height: 250px; }
}
.dhControlPanel:hover { animation: animateWidth 1s 1, animateHeight 1s 1; }
 */

/*
 * MEDIA QUERIES
 */
@media(min-width: 992px) {
    .slideText {
        position: relative;
        float: right;
        margin: -340px 30px 50px 0;
        text-align: right;
    }
}

@media(max-width: 992px) {
    /* remove outer padding of slider */
    .box { padding: 0 !important }
}




